/Nasledovoniye/nbproject/private/
/Nasledovoniye/build/
/IslandPerimetr/nbproject/private/
/IslandPerimetr/build/
/CircleDemo/nbproject/private/
/CircleDemo/build/
/SymbolsDemo/nbproject/private/
/SymbolsDemo/build/